<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Form</title>
  </head>
  <body>
    <h1>Astro Form</h1>
    <form
      name='contact-form'
      method='POST'
      action='/'>
      <p style="display: none;">
        <label>
          Don’t fill this out if you’re human: <input name='bot-field' />
        </label>
      </p>
      <input type='hidden' name='form-name' value='contact-form' />
      <label for='name'>Name</label>
      <input id='name' type='text' name='name' />
      <label for='email'>Email</label>
      <input id='email' type='email' name='email' required />
      <label for='feedback'>What is your feedback?</label>
      <button type='submit'>Submit</button>
    </form>
  </body>
</html>
